#textArea{
  border-radius: 9px;
}

.col{
  width: 500px;
}

.col1{
    width: 700px;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
  }

  #complaint{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-top:35px;
    border:none
  }

  

.col100{
  width: 298px;
  height: auto;
  padding-bottom: 80px;
  padding-top: 120px;
  margin-left: 150px;
}

#spv{
  margin-right: fixed;
  right: 2px;
  float: left;
}

.col2{
    padding-top: 120px;
    padding-right:100px;
    padding-bottom: 100px;
    padding-left: 130px;
  }
  
  .col3 {
    /* border: 1px solid black; */
    padding-top: 120px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-left: 180px;
  }

  .col4 {
    /* border: 1px solid black; */
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left:100px;
  }

  .col5 {
    /* border: 1px solid black; */
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left:80px;
  }

  .col6 {
    /* border: 1px solid black; */
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left:120px;
  }

  .col7 {
    /* border: 1px solid black; */
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left:120px;
    margin-left: 100px;
  }

  .col8 {
    border: 1px solid black;
  }


  .form {
    /* border: 1px solid black; */
    padding-top: 0px;
    padding-right: 200px;
    padding-bottom: 10px;
    padding-left:120px;
  }
  
  #complaint{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 50px 80px 350px;
    padding-top:35px;
  }

  #logoBRI{
    width:100px;
  }

  #Navbar{
    background-color: #004f97;
  }
 
  .container{
    display: flex;
    /* border: 1px solid black; */
    max-width: 100%;
    background-image: url(b4.jpg);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 100%; */
    background-size: cover;
  }

  #imgfp{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .akuncs1{
    border: 1px solid black;
  }

  #spasi{
    margin-top: 10px;
  }

  #margindatacs{
    margin-top: 40px;
    /* border: 1px solid black; */
  }

  #datacs{
    margin: auto;
  }

  #paddingleft{
    padding-left: 20px;
    font-weight: bold;
  }

  #margintop{
    margin-top: 20px;
  }

  #marginbot{
    padding-bottom: 30px;
    font-weight: bold;
    color:  #f37024;
  }

  .btn-float{
    position: center;
    margin: auto;
    width: 35%;
    margin-top: 10px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

  footer{
    position: fixed;
    width: 100%;
    bottom:0px;
    grid-area: footer;
    color: white;
    background-color: #004f97;
    font-weight: bold;
    letter-spacing: 1px;
  }