.col-logo{
    padding-top: 130px;
    padding-right:40px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
  
  .col-form {
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 2px;
  }