.App{
  background-color:white;
  min-height: 100vh;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.col {
  padding-top: 190px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 2px;
}


.col1{
  padding-top: 130px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 1px;
}

.col2 {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 2px;
}

.col3{
  padding-top: 60px;
  padding-right: 30px;
  padding-bottom: 70px;
  padding-left: 1px;
}


.btn {
  background-color: #004f97; /* Green */
  border: none;
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.button{
  padding-top:33px;
}